html {
    --background-body: black;
    --background-button: rgb(36, 36, 36);
    --background-div: rgb(4, 79, 92);
    --color-button: rgb(255, 255, 255);
    --border-color-display: rgb(176, 213, 214);
}

body {
    background-color: var(--background-body);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    background: var(--background-div);
    margin: 2rem;
    padding: 2rem;
    max-width: 500px;
    height: 70%;
    font-family: monospace;
    border-radius: 15px;
}

.historial{
    text-align: center;
    margin: 2rem ;
    padding: 2rem;
    max-width: 500px;
    width: 350px;
    height: 70%;
    font-family: monospace;
    border-radius: 15px;
    background: var(--background-div);
}

.display {
    height: 3.4rem;
    margin-bottom: 2rem;
    border: 2px solid var(--border-color-display);
    text-align: right;
    font-size: 2rem;
    padding: 0 1rem;
    width: 100%;
}

.rows {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 75px;
}

.rows button {
    margin: 3px;
    text-transform: uppercase;
    background-color: var(--background-button);
    font-size: 1.5rem;
    color: var(--color-button);
}
#mode{
    grid-column: span 2;
}
#igual{
    grid-column: span 2;
}


/* media query */
@media screen and (max-width: 768px) {
    .calc,.history {
      width: 100%; 
      display: block; 
    }
}
@media screen and (min-width: 769px) {
    .calc {
        width: 50%; 
    }
    .history {
        width: 50%; 
    }
}
@media screen and (prefers-color-scheme: light) {
    html {
        --background-body: white;
        --background-button: black;
        --color-button: white;
        --border-color-display: black;
    }
}
